{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="card">
    <h1>Calorie Tracker</h1>
    <p>Личный дневник питания для учета продуктов, калорий и просмотр питания друзей.</p>
    {% if user.is_authenticated %}
        <p>Вы вошли как <strong>{{ user.username }}</strong>. Можно перейти к дневнику, продуктам или профилю.</p>
        <!-- <div class="actions">
            <a class="button-link" href="{% url 'diary:diary' %}">Открыть дневник</a>
            <a class="button-link" href="{% url 'products:list' %}">Продукты</a>
            <a class="button-link" href="{% url 'accounts:profile' %}">Мой профиль</a>
            <a class="button-link" href="{% url 'accounts:users_list' %}">Пользователи</a>
        </div> -->
    {% else %}
        <p>Зарегистрируйтесь, чтобы вести дневник питания и сохранять данные профиля.</p>
        <div class="actions">
            <a class="button-link" href="{% url 'accounts:register' %}">Регистрация</a>
            <a class="button-link" href="{% url 'accounts:login' %}">Войти</a>
        </div>
    {% endif %}
</section>
{% endblock %}
